<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : 'Carbide2' %></title>
    <link rel="stylesheet" href="/landing.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
